body {
    background-color: azure;
    text-align: center;
}
h1 {
    font-size: 2.5em;
    color: black;
    font-family: Georgia;
}
.author {
    font-size: 1.5em;
    color: orangered;
    font-family: Tahoma;
}
p {
    color:lightslategray;
    font-size: 1.5em;
}


